*{
    box-sizing: border-box;
}
body{
    margin: 50px;
    padding: 0px;
    background-color: beige;
}
form input{
    margin: 6px;
    padding: 5px;
    border-radius: 5px;
}
form label{
    padding: 10px;
}

